@import '../../styles/partials/variables.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/global.scss';

.preview {
    @include responsive-padding;
    @include flex;
    @include responsive-gap;
    border-radius: $border-radius;
    border: $border-style;
    &__image {
        max-width: 10rem;
    }
    &__content {
        width: 80%;
    }
    &__title {
        padding-bottom: $space-small;
    }
    &__link {
        display: block;
        color: $color-brand-primary;
        font-size: $font-size-body-small;
        padding-top: $space-small;
    }
}