@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/global.scss";

.pg-layout {
  @include responsive-padding;
  @include flex(flex-start);
  @include responsive-gap;
  max-width: $max-content-width;
  margin-inline: auto;
  &__main {
    max-width: 67%;
    overflow-y: scroll;
    height: 90vh;
  }
  &__sidebar {
    max-width: 30%;
    overflow-y: scroll;
    height: 90vh;
  }
}
