@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/global.scss";

.news {
  @include responsive-padding-block;
  &__header {
    @include responsive-padding;
    background-color: $color-background-header;
    border-radius: $border-radius $border-radius 0 0;
  }
  &__article-list {
    @include flex(flex-start);
    flex-direction: column;
  }
}