@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/global.scss";

.news {
  &__features {
    @include flex;
    gap: $space-standard;
    flex-wrap: nowrap;
    padding-bottom: 1.5rem;
  }
  &__banner {
    display: block;
    width: 33%
  }
  &__header {
    @include responsive-padding;
    background-color: $color-background-header;
    border-radius: $border-radius $border-radius 0 0;
  }
  &__article-list {
    @include flex(flex-start);
    flex-direction: column;
  }
}