@import '../../styles/partials/variables.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/global.scss';

.liveVideo--container {
    // if we want to center live video, use code below//
    // display: flex; 
    // justify-content: center;
    // align-items: center; 
    position: relative;
    width: 100%;
}

.liveVideo--display {
    width: 45%;
    height: auto;
    transition: filter 0.3s ease;
    &:hover {
        filter: grayscale(100%);
    }
    
}

.liveVideo--widget {
    padding: 1rem 1rem 1rem 1rem;
    background-color: $color-brand-primary;
    justify-content: center;
    width: 5%;
    position: absolute;
    top: 0;
    left: 0;
}

p.liveVideo-widegetText {
    text-align: center;
    text-transform: uppercase;
    color: $color-font-light;
}